<h1>Create new meow</h1>

<form action='' method='POST'>
  <label for='input-message'>Message</label>
  <textarea
    name='message'
    id='input-message'
    placeholder='Message..'
  ></textarea>

  <button>Publish Meow</button>
</form>